<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AI Stock</title>
    <style>
        table, th, td {
            border: 0px;
            text-align: start;
        }

        body {
            font-family: Arial, sans-serif;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 20px;
        }
    </style>
</head>
<body>
<script>
    function redirectTo(url) {
        window.location.href = url;
    }

    function showErrorText(text) {
        const errorText = document.getElementById("error_text");
        errorText.innerText = text;
    }

    function refreshPage() {
        window.location.reload();
    }

    {% if not current_user %}
        fetch("{{ url_for('refresh_tokens') }}", {
            method: "POST",
        }).then(response => {
            if (response.ok)
                refreshPage();
        });
    {% endif %}
</script>
<header>
    <a href="{{ url_for('home_page') }}">Home</a>
    <a href="{{ url_for('get_all_images_page') }}">Explore</a>
    <a href="{{ url_for('create_image_page') }}">Create</a>
    {% if current_user %}
        <a href="{{ url_for('get_me_page') }}">Profile</a>
    {% else %}
        <a href="{{ url_for('login_user_page') }}">Log in</a>
        <a href="{{ url_for('register_user_page') }}">Sign up</a>
    {% endif %}
</header>
<p id="error_text"></p>
{% block content %}
{% endblock %}
<footer>
    <p>© 2025 Mackaronina <a href="https://github.com/mackaronina">Github</a></p>
</footer>
</body>
</html>