{% extends "base.html" %}
{% block content %}
    <h1>Create your image</h1>
    <label for="prompt">Enter prompt</label>
    <input type="text" id="prompt" name="prompt">
    <button id="create_button">Create</button>
    <script>
        const prompt = document.getElementById("prompt");
        const button = document.getElementById("create_button");

        function disableButton() {
            button.innerText = "Wait...";
            button.disabled = true;
        }

        function enableButton() {
            button.innerText = "Create";
            button.disabled = false;
        }

        button.addEventListener("click", async () => {
            disableButton()
            const body = JSON.stringify({
                prompt: prompt.value
            });
            const response = await fetch("{{ url_for('create_image') }}", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: body
            });
            if (response.ok) {
                const result = await response.json();
                redirectTo(result.image_url);
            } else {
                const result = await response.json();
                showErrorText(result.detail);
                enableButton();
            }
        });
    </script>
{% endblock %}